In [3]:
lst=[]
0,1,2,3,4
for i in range(0,5):
    mark=int(input("Enter the Mark: "))
    lst.append(mark)
    
sum1=sum(lst)
avg= (sum1/len(lst))
if avg >= 90:
    print("A Grade")
elif avg >=70 and avg < 90:
    print("B grade")
elif avg < 70:
    print("C Grade")
else:
    print("Invalid Marks")

Enter the Mark: 100
Enter the Mark: 100
Enter the Mark: 100
Enter the Mark: 100
Enter the Mark: 100
A Grade

In [2]:
for i in range(1500,2701):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [6]:
def max_num(a,b,c):
    maximum=max(a,b,c)
    return maximum
    
max_num(10,20,12)

20

In [19]:

lst=[]
for i in range(1,6):
    print(i*'*')
    i=i-1
    lst.append(i)
lst1=lst[::-1]
for i in lst1:
    print(i*'*')

*
**
***
****
*****
****
***
**
*

In [20]:
def pattern(num):
    lst=[]
    for i in range(1,num):
        print(i*'*')
        i=i-1
        lst.append(i)
        lst1=lst[::-1]
    for i in lst1:
        print(i*'*')
pattern(6)

*
**
***
****
*****
****
***
**
*